In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:/Users/kra/Desktop/cardio_data.csv')

In [3]:
df.head()

   age  height  weight  ap_hi  ap_lo  cholesterol  smoke
0   56     160     102     99     97            2      0
1   69     170      79    153     86            1      1
2   46     175      88    152     93            1      0
3   32     174      80    138     74            2      1
4   60     171      51    153     91            3      1

In [4]:
df.describe()

,age,height,weight,ap_hi,ap_lo,cholesterol,smoke
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,49.857000,174.676000,83.379000,133.57700,90.050000,2.047000,0.508000
std,18.114267,14.412868,20.192997,25.34949,17.663508,0.814527,0.500186
min,18.000000,150.000000,50.000000,90.00000,60.000000,1.000000,0.000000
25%,35.000000,162.000000,66.000000,112.00000,75.000000,1.000000,0.000000
50%,50.000000,175.000000,82.000000,134.00000,90.000000,2.000000,1.000000
75%,66.000000,187.000000,100.000000,155.00000,106.000000,3.000000,1.000000
max,79.000000,199.000000,119.000000,179.00000,119.000000,3.000000,1.000000

In [5]:
df.isnull()

       age  height  weight  ap_hi  ap_lo  cholesterol  smoke
0    False   False   False  False  False        False  False
1    False   False   False  False  False        False  False
2    False   False   False  False  False        False  False
3    False   False   False  False  False        False  False
4    False   False   False  False  False        False  False
..     ...     ...     ...    ...    ...          ...    ...
995  False   False   False  False  False        False  False
996  False   False   False  False  False        False  False
997  False   False   False  False  False        False  False
998  False   False   False  False  False        False  False
999  False   False   False  False  False        False  False

[1000 rows x 7 columns]

In [22]:
# How much heavier is the age group with the heaviest weight than the age group wwith the lowestweight

In [24]:
max= df.groupby('age').weight.mean().max()
min=df.groupby('age').weight.mean().min()

ans = ((max-min)/max)*100

In [20]:
r = df.height.sort_values(ascending=False)[:700]
r.min()

165

In [38]:
std_h=df['height'].std()
upper=df.height.mean()+(2*std_h)
lower=df.height.mean()-(2*std_h)

outliers=df[(df.height<lower)|(df.height>upper)]

num_outliers=outliers.shape[0]
perc=(num_outliers/df.shape[0])*100
print(f'{perc} %')

0.0 %

In [74]:
# How many people above the age pf 50 are smokers
a=df[df['age']>50]
b=a[a['smoke']==1]

print(b.shape[0])

240

In [97]:
a= df[(df['age']>50) & (df['smoke']==1)]

print(a.shape[0])

240

In [119]:
# Are men more likely to be smokers than  women
w= df[(df['gender']==0) & (df['smoke']==1) ]
m= df[(df['gender']==1)  & (df['smoke']==1) ]

total_women=(df[df['gender']==0]).shape[0]

total_men=(df[df['gender']==1]).shape[0]


p_women=(w.shape[0]/total_women)*100
p_men=(m.shape[0]/total_men)*100

if(p_women>p_men):
 print('NO')
else:
 print('YES')

KeyError: 'gender'